* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black !important;
  transition: all ease-out 0.4s;
}

/* -HEADER */

#header .bars i {
  color: white;
}
.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cccccc38;
  padding: 0px 30px;
  transition: all ease-out 0.4s;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: darkslategray;
}

.image_header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;
}

.image_header img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.nave_header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  color: #7b7b7b;
}
.nave_header ul li a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  color: white;
  transition: ease-in-out 0.5s;
}
.nave_header ul li a:hover {
  color: gold;
}
.nave_header li.nav-link:hover {
  background-color: transparent;
}

.nave_header ul li {
  position: relative;
  cursor: pointer;
  width: 100%;
}
.nave_header ul li a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #ffc107;
  opacity: 0;
}
.nave_header ul li a:hover:after {
  opacity: 1;
}

/* -HEADER- */

/* -BANNER */
#banner {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 20px;
}
#banner .employee-details .text-center {
  color: black;
  font-style: italic;
  font-size: 26px;
  font-weight: 500;
}

#banner .nav_icon ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 14px;
  margin: 0;
}
#banner h1 {
  color: #ccc;
}
#banner span {
  color: #ffc107;
}
#banner .element-section p {
  padding: 8px 0px;
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#banner .nav_icon ul li a {
  padding: 5px 12px;
  color: white;
  padding-bottom: 9px;
  cursor: pointer;
  border: 1px solid grey;
  /* background-color: transparent; */
  background-color: rgba(33, 33, 33, 0.233);
}
#banner .nav_icon ul li a i {
  font-size: 10px;
  transition: ease-in-out 0.2s;
}

#banner .nav_icon ul li a:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

#banner .nav_icon ul li a:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#banner .nav_icon ul li a.active {
  color: #ee5555;
  cursor: default;
  background-color: #383838;
  box-shadow: 0px 1px 1px 1px #727272, 0px 1px 1px 1px #646464,
    0px 20px 1px 1px #00000044;
  transform: translateY(-1px);
}
#banner .nav_icon ul li a {
  transition: ease-in-out 0.2s;
}
#banner .nav_icon ul li a:hover {
  border-radius: 1px;
  color: black;
  background-color: gold;
}
#banner .nav_icon ul li:hover {
  transform: translateY(-10px);
  transition: ease-out 0.5s;
}

/* phtot */

.employee-container {
  margin-top: 80px;
}
.employee {
  background-color: black;
  width: 100%;
  margin: 10px auto;
  display: block;
  overflow: hidden;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 31px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 31px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 31px -19px rgba(0, 0, 0, 0.75);
}
.employee:hover > .employee-image {
  margin-top: -80px;
}
.employee-image {
  background-color: #fff;
  height: 300px;
  width: 100%;

  transition: 0.5s;
}
.employee-image img {
  height: 80%;
}
.employee-name {
  color: #fff;
  font-weight: bold;
  padding: 5px;
  background-color: darkslategray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.employee-name h1 {
  font-size: 30px;
  color: black;
}
.employee-name span {
  font-size: 20px;
  color: yellow;
  padding: 0px;
}
.employee-social-link ul li {
  position: relative;
  bottom: -120px;
}
.employee-social-link ul {
  text-align: center;
  list-style: none;
}
.employee-social-link ul li {
  display: inline-block;
  margin: 7px;
  background-color: gold;
  padding: 7px;
  border-radius: 50%;
  line-height: 0.1;
  margin-left: -5px;
}
.employee-social-link i {
  font-size: 10px;
  color: black;
  animation-name: rotate-icon;
}

.employee-social-link ul li:nth-child(1) {
  transition: 1s;
}
.employee-social-link ul li:nth-child(2) {
  transition: 1.3s;
}
.employee-social-link ul li:nth-child(3) {
  transition: 1.6s;
}
.employee-social-link ul li:nth-child(4) {
  transition: 1.9s;
}
.employee-social-link ul li:nth-child(5) {
  transition: 2.2s;
}
.employee:hover > .employee-details .employee-social-link ul li {
  bottom: 140px;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

hr.my-5 {
  opacity: inherit;
  color: gray;
}
hr.my-3 {
  color: grey;
}
/* text typing */
#banner h1 .animatedtext {
  font-size: 30px;
  font-weight: 500;
  color: #ccc;
  display: inline-block;
  padding: 0;
  border-right: 1px solid #414141;
}

/* -BANNER- */

/* -SERVICES */
#my-services {
  padding-bottom: 20px;
}

#my-services h1 {
  font-size: 28px;
  margin-bottom: 24px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}
#my-services span {
  font-size: 28px;
  font-weight: 500;
  color: goldenrod;
}
#my-services .content-inner {
  font-size: 35px;
  font-weight: 400;
  color: gold;
  font-style: bold;
}

#my-services h4.card-title {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

#my-services .card-content p {
  font-size: 11px;
  font-weight: 400;
  color: rgb(167, 166, 166);
}

#my-services .card-content {
  color: rgb(255, 255, 255, 50%);
  background-image: linear-gradient(
    135deg,
    rgba(214, 207, 207, 0.15),
    rgba(91, 93, 95, 0.3)
  );
  border-radius: 2px;

  transition: all ease 0.9s;
  position: relative;
  cursor: pointer;
}

.card-content {
  font-family: Avenir;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.card-content:before:hover .main-inner i {
  color: black;
}
.card-content:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: darkcyan; */
  background-color: darkgoldenrod;

  color: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.card-content .main-inner h4:hover,
.card-content .main-inner h4:focus,
.card-content .main-inner h4:active {
  color: black;
}
.card-content:hover:before,
.card-content:focus:before,
.card-content:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* -SERVIECS- */

/* PORTFOLIO- */
#my-portfolio h1 {
  font-size: 28px;
  color: white;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}
#my-portfolio span {
  font-size: 28px;
  font-weight: 500;
  color: goldenrod;
}

/* responsive navbar */

nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;

  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  /* margin: 0.5rem 1rem;
  padding: 0.4rem; */
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  background-color: #ccc;
  color: #333;
}

li.nav-link.auth {
  border: 2px solid white;
  border-radius: 1rem;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-transform: uppercase;
}

.nav-links .night-mode_header li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  color: white;
}
.nav-links .night-mode_header li:hover {
  background-color: transparent;
}

/* my-portfolio  */
#my-portfolio .card {
  transition: all 0.3s;
}
#my-portfolio .card:hover {
  background-color: darkgoldenrod;
}
#my-portfolio .card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-portfolio .card-image img {
  width: 100%;
  border-radius: 6px;
}

#my-portfolio .col-md-4 {
  margin: 10px 0px;
}
#my-portfolio .card-title h5 {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
#my-portfolio .card-title h4 {
  color: #757171;
  font-size: 16px;
}
#my-portfolio .card-title {
  padding: 8px 2px;
}
.card-image {
  overflow: hidden;

  border-radius: 6px;
}
img.main-image {
  transition: 0.4s;
}
img.main-image:hover {
  transform: scale(1.1);
}

/* my-porfolio end *\
 

/* start my-experience */

#my-experience h1 {
  font-size: 28px;
  font-weight: 500px;
  text-align: center;
  margin-bottom: 24px;
  color: #ccc;
}

#my-experience h1 span {
  color: goldenrod;
  margin: 0px 10px;
}
#my-experience h4 {
  color: #302e2ecc;
  padding-left: 24px;
}

#my-experience .experinece-card h4 {
  font-size: 20px;
  font-weight: 500;
  padding: 2px 30px;
  color: white;
}
#my-experience .experinece-card p {
  font-size: 12px;
  font-weight: 300;
  padding: 0px 30px;
  color: white;
}

#my-experience hr.my-3 {
  width: 80%;
  margin: 0px auto;
  margin-left: 30px;
}

#my-experience .experience-titles {
  box-shadow: 0px 0px 3px 2px #2b2b2b;
  padding: 20px;
  border-radius: 6px;
  transition: ease-in-out 0.5s;
}

#my-experience .experience-titles:hover {
  background-color: darkgoldenrod;
  box-shadow: 0px -1px 4px 2px grey;
}

#my-experience .experience-titles .experience-title h4 {
  color: white;

  font-size: 13px;
  padding: 0px 30px;
}

#my-experience .experience-titles .experience-title p {
  font-size: 10px;
  color: white;
  padding: 0px 30px;
}

#my-experience .experience-titles p {
  font-size: 12px;
  font-weight: 300;
  color: white;
  padding: 0px 30px;
}
#my-experience .col-md-6 {
  border-left: 1px solid darkslategrey;
}

/* start myskills */

#my-skills .main-skill {
  display: flex;
}

#my-skills h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
  color: #ccc;
}

#my-skills h1 span {
  color: gold;
  margin: 0px 10px;
}
#my-skills h3 {
  font-size: 20px;
  font-weight: 500;
  color: #ccc;
  padding: 2px 32px;
  margin-bottom: 30px;
}

#my-skills .parent-skill {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
}

#my-skills .skill {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 6px 6px 12px #1c1e22, -7px -7px 12px #262a2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-skills .progress {
  width: 97%;
  height: 97%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: linear-gradient(280deg, #1e2024, #23272b);
  display: flex;
  align-items: center;
  /* color: gold !important; */
  background-color: gold !important;
  justify-content: center;
}

#my-skills .progress-number {
  font-family: "Poppins", sans-serif;
  color: gold;
  font-size: 1.5rem;
}

#my-skills .title {
  font-family: "Poppins", sans-serif;

  color: white;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

/* start footer */

#footers .footer-icons ul li {
  padding-left: 0px;
}
#footers .footer-icons ul {
  display: flex;
  /* display: -webkit-box; */
  justify-content: start;
}

#footers .footer-icons ul {
  list-style: none;
}
#footers .footer-icons ul i {
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
  font-size: 10px;
  color: white;
  margin: 1px;
  box-shadow: 0px 0px 0px 2px rgb(34, 32, 32);
}

#footers .footer-icons ul i:hover {
  background-color: gold;
  color: black;
}

#footers .footer-icons ul li:hover {
  /* transition: all 0.5s; */
  transform: translateY(-10px);
  transition: ease-out 0.5s;
}

#footers .quick-Link h3 {
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
  padding: 0px;
  margin: 0px;
}
#footers .quick-Link ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#footers .quick-Link ul li a {
  text-decoration: none;
  font-size: 14px;
  color: darkgoldenrod;
}

#footers .footer-icons ul i {
  margin: 0px 6px;
}

/* title name  */

#title-name h5 {
  text-align: center;
  font-size: 10px;
  color: #ccc;
  font-weight: 400;
}
